body {
  font-family: Arial;
}

.container{
  display: flex;
  flex-direction: row;
}

#mainMenu{
  padding: 15px;
}

#divide{
  padding: 50px;
}

#divide2{
  padding: 39px;
}

#buttonDiv{
  display: flex;
  flex-direction: row;
}

canvas{
  background-color: rgb(229, 253, 253);
}

.inputBox{

  max-width: 50px;

  
}

.subMenu{
  display: flex;
  flex-direction: row;
}

.menuContainer{
  background-color:antiquewhite;
  padding: 15px;
  border-spacing: 10px;
}

button{
  padding: 5px;
  border-radius: 10px;
}

select, input{
  padding: 5px;
  border-radius: 10px;
}

#bannerDiv{
  padding: 15px;
  font-size:larger;
  background-color:lightgray;
  width: 100%;
}

#signUpLink{
  padding-left: 5%;
}

#logInLink{
  padding-left: 22%
}

#banner{
  padding-left:42%;
}

.credentials_div {
  width: 50%;
  height: 50%;
  padding: 10px;
  border: 10px solid;

  margin: auto;
  text-align: center;
}